* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#chat {
  width: 450px;
  height: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #5e5e5e;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}

.content {
  width: 100%;
  flex: 1;
  padding: 5px;
  background-color: #ebebeb;
  overflow-y: scroll;
}

.input {
  width: 100%;
  height: 50px;
  background-color: #d3d3d3;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#chatArea {
  flex: 1;
  height: 25px;
  border: 0;
  outline: none;
  padding: 0 5px;
}

#sendBtn {
  width: 65px;
  height: 25px;
  background-color: yellowgreen;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 600px) {
  #chat {
    width: 100vw;
    height: 100vh;
  }

  .header {
    height: 15.6vw;
    line-height: 15.6vw;
    font-size: 4.8vw;
  }

  .input{
    height: 12.6vw;
    padding: 0 4.667vw;
  }

  #chatArea{
    height: 60%;
    padding: 0 2.667vw;
  }

  #sendBtn{
    height: 60%;
  }
}